<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ContextListener</description>
        <listener-class>com.icecoldbier.listeners.ContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>Pazienti Service</servlet-name>

        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.icecoldbier.services</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pazienti Service</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DummyRestricted</servlet-name>
        <jsp-file>/pages/dummy_restricted.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DummyRestricted</servlet-name>
        <url-pattern>/dummy_restricted.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <jsp-file>/pages/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

<!--    MEDICO DI BASE-->
    <servlet>
        <servlet-name>MedicoBaseHome</servlet-name>
        <jsp-file>/pages/medico_base/home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MedicoBaseHome</servlet-name>
        <url-pattern>/medico-base/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MedicoBaseLista</servlet-name>
        <jsp-file>/pages/medico_base/lista_pazienti.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MedicoBaseLista</servlet-name>
        <url-pattern>/medico-base/lista</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MedicoBaseListaVisiteBase</servlet-name>
        <jsp-file>/pages/medico_base/lista_visite.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MedicoBaseListaVisiteBase</servlet-name>
        <url-pattern>/medico-base/lista-visite-base</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MedicoBaseRicerca</servlet-name>
        <jsp-file>/pages/medico_base/ricerca_pazienti.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MedicoBaseRicerca</servlet-name>
        <url-pattern>/medico-base/ricerca</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MedicoBaseProfilo</servlet-name>
        <jsp-file>/pages/medico_base/profilo.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MedicoBaseProfilo</servlet-name>
        <url-pattern>/medico-base/profilo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MedicoBaseSchedaPaziente</servlet-name>
        <jsp-file>/pages/medico_base/scheda_paziente.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MedicoBaseSchedaPaziente</servlet-name>
        <url-pattern>/medico-base/scheda-paziente</url-pattern>
    </servlet-mapping>

<!--    MEDICO SPECIALISTA-->
    <servlet>
        <servlet-name>MedicoSpecialistaHome</servlet-name>
        <jsp-file>/pages/medico_specialista/home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MedicoSpecialistaHome</servlet-name>
        <url-pattern>/medico-specialista/home</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MedicoSpecialistaProfilo</servlet-name>
        <jsp-file>/pages/medico_specialista/profilo.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MedicoSpecialistaProfilo</servlet-name>
        <url-pattern>/medico-specialista/profilo</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MedicoSpecialistaLista</servlet-name>
        <jsp-file>/pages/medico_specialista/lista_pazienti.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MedicoSpecialistaLista</servlet-name>
        <url-pattern>/medico-specialista/lista</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MedicoSpecialistaVisite</servlet-name>
        <jsp-file>/pages/medico_specialista/visite.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MedicoSpecialistaVisite</servlet-name>
        <url-pattern>/medico-specialista/visite</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MedicoSpecialistaDettagliVisita</servlet-name>
        <jsp-file>/pages/medico_specialista/dettagli_visita.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MedicoSpecialistaDettagliVisita</servlet-name>
        <url-pattern>/medico-specialista/visite/dettagli-visita</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MedicoSpecialistaSchedaPaziente</servlet-name>
        <jsp-file>/pages/medico_specialista/scheda_paziente.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MedicoSpecialistaSchedaPaziente</servlet-name>
        <url-pattern>/medico-specialista/scheda-paziente</url-pattern>
    </servlet-mapping>
    
<!--    SSP-->
    <servlet>
        <servlet-name>SSPHome</servlet-name>
        <jsp-file>/pages/ssp/home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SSPHome</servlet-name>
        <url-pattern>/ssp/home</url-pattern>
    </servlet-mapping>

<!--    PAZIENTE-->
    <servlet>
        <servlet-name>PazienteHome</servlet-name>
        <jsp-file>/pages/paziente/home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PazienteHome</servlet-name>
        <url-pattern>/paziente/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PazienteProfilo</servlet-name>
        <jsp-file>/pages/paziente/profilo.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PazienteProfilo</servlet-name>
        <url-pattern>/paziente/profilo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ElencoVisiteBase</servlet-name>
        <jsp-file>/pages/paziente/visite_base.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ElencoVisiteBase</servlet-name>
        <url-pattern>/paziente/elenco-visite-base</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ElencoVisiteSpecialistiche</servlet-name>
        <jsp-file>/pages/paziente/visite_specialistiche.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ElencoVisiteSpecialistiche</servlet-name>
        <url-pattern>/paziente/elenco-visite-specialistiche</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>500</error-code>
        <location>/pages/error_500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/pages/error_404.jsp</location>
    </error-page>
    <context-param>
        <description>The folder where are stored the exported pdfs</description>
        <param-name>pdfFolder</param-name>
        <param-value>pdfs</param-value>
    </context-param>
    <context-param>
        <description>The folder where are stored the exported xls</description>
        <param-name>xlsFolder</param-name>
        <param-value>xls</param-value>
    </context-param>
</web-app>
