<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ContextListener</description>
        <listener-class>com.icecoldbier.listeners.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>DummyRestricted</servlet-name>
        <jsp-file>/dummy_restricted.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DummyRestricted</servlet-name>
        <url-pattern>/dummy_restricted.html</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/error_500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error_404.jsp</location>
    </error-page>
    <context-param>
        <description>The folder where are stored the exported pdfs</description>
        <param-name>pdfFolder</param-name>
        <param-value>pdfs</param-value>
    </context-param>
</web-app>
