h1{
    margin: 20px 0px 20px 0px;
}
.container{
    margin-bottom: 30px;
}
.label{
    margin-right: 10px;
}

.funzioni-row{
    text-align: center;
    display: block;
    margin-top: 10px;
}

.funzioni-col{
    text-align: center;
}

td{
    vertical-align: middle !important;
}

.modal-body p{
    color: #3e3e3e;
}

.status-modal-header{
    display: block;
    text-align: center;
}

.status-modal-body{
    text-align: center;
    font-size: x-large;
}
.status-modal-content{
    border: 0;
}

.error-modal-header{
    background: #ff483f;
}

.success-modal-header{
    background: #13c76b;
}

.modal-icon {
    font-size: 64px !important;
    margin: -4px 0 0 -4px;
}

.info-col{
    padding: 0 1px 0 1px;
}
.info-text{
    font-size: smaller;
    color: #3e3e3e;
    margin-top: 2px;
}


.info-icon {
    font-size: 1.5em;
    color: #3e3e3e;
}

.badge-icon{
    font-size: 14px !important;
    color: white;
}

.white{
    color: white;
}

.datatable{
    width: 100% !important;
}
.dataTables_filter{
    text-align: center!important;
}

.dataTables_length{
    text-align: center;
}


.icon-box{
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
}

.div-centered{
    text-align: center;
    text-align: -webkit-center;
}

.calendar{
    margin-bottom: 20px;
}

.inl-form{
    display: inline;
}
.profile-picture{
    border-radius: 100% !important;
    width: 250px;
    height: 250px;
}

.profile-picture-popover{
    border-radius: 100% !important;
    width: 128px;
    height: 128px;
}

.profile-picture-thumbnail{
    border-radius: 100% !important;
}

.pag-fix{
    margin-top: -6px;
}

.approva{
    display: inline;
    float: right;
}

.profile-table{
    word-break: break-word;
}

.pagination{
    justify-content: center!important;
}

.divider{
    padding-right: 15%;
    padding-left: 15%;
    margin-bottom: 3px;
    margin-top: 3px;
    background-color: #d7d7d7;
    height: 1px;
}
